*{
    font-family: 'Helvetica', sans-serif;
    margin:0;
    padding:0;
}
#header-nav,#hero-section,.list-testimonial .card{
    background-color: #F1F3FF;
}
.navbar-toggler{
    border:none;
}
.jumbotron{
    background-color: #0d28a6;
}
#accordion-title:after {
    font-family: FontAwesome;
    content: "\f078";
    float: right;
    color: grey;
}

#accordion-title[aria-expanded="true"]:after {
    content: "\f077";
}
.owl-nav {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.owl-prev, .owl-next {
    margin: 10px;
}

.owl-prev,.owl-next {
    width: 38px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4 !important;
    border-radius: 50px;
    background-color: white;
    padding: 10px;
}

.owl-next:hover,.owl-prev:hover {
    color: white !important;
    background-color: #5CB85F !important;
    border: 1px solid #5CB85F !important;
}
/* .previous-btn,.next-btn{
    border-radius: 25px;
} */
.list-testimonial .item{
    max-width: 619px;
}
.star{
    display: flex;
    flex-direction: row;
    width: 80px;
}
@media(max-width:992px){
    .sidebarMenu{
        background-color: #fff;
        position:fixed;
        top:0;
        bottom:0;
        margin:auto;
        right:0;
        /* transform: translateX(-100%); */
        transition: all ease 0.25s;
    }
    .sidebarMenu.onRight{
        left: auto;
        right: 0;
        transform:translateX(100%);
    }
    .sidebarMenu.open{
        transform: translateX(0);
    }
    .overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }
    .overlay.open {
        display: block;
        z-index: 999;
    }
    .sidebarMenu.close{
        transform: translateX(100%);
    }
    .overlay.close{
        display: none;
    }
    .list-testimonial .testimonial-img-profile{
        max-width: 64px !important;
        margin-bottom: 5px;
    }
}
@media(min-width:993px){
    
    .sidebarBrand{
        display:none !important;
    }
}
